<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p class="mb-5" i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<div class="col-md-4 mb-5">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="list-group">
        <a routerLink="/empleadoss" class="list-group-item list-group-item-action" i18n="@@empleados.list.headline">Empleadoses</a>
        <a routerLink="/usuarioss" class="list-group-item list-group-item-action" i18n="@@usuarios.list.headline">Usuarioses</a>
    </div>
</div>
