<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<p class="mb-5">
    <span i18n="@@home.index.swagger.text">Swagger is</span>
    <a [href]="environment.apiPath + '/swagger-ui.html'" target="_blank" i18n="@@home.index.swagger.link">available here</a>.
</p>
<div class="col-md-4 mb-5">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="list-group">
        <a routerLink="/clientes" class="list-group-item list-group-item-action" i18n="@@cliente.list.headline">Clientes</a>
        <a routerLink="/productoss" class="list-group-item list-group-item-action" i18n="@@productos.list.headline">Productoses</a>
    </div>
</div>
