<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md">
            <a routerLink="/" class="navbar-brand">
                <img ngSrc="logo.png" i18n-alt="@@app.title" alt="Cursos App" width="30" height="30" class="d-inline-block align-top" />
                <span class="ps-1" i18n="@@app.title">Cursos App</span>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    i18n-aria-label="@@navigation.toggle" aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a routerLink="/" class="nav-link" i18n="@@navigation.home">Home</a>
                    </li>
                    <li class="navbar-item dropdown">
                        <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="navbarEntitiesLink"
                                aria-expanded="false" i18n="@@navigation.entities">Entities</button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/usuarios" class="dropdown-item" i18n="@@usuario.list.headline">Usuarios</a></li>
                            <li><a routerLink="/cursos" class="dropdown-item" i18n="@@curso.list.headline">Cursoes</a></li>
                            <li><a routerLink="/profesors" class="dropdown-item" i18n="@@profesor.list.headline">Profesors</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
