<!-- <ul class="list-group">
  <li
    *ngFor="let item of posts"
    class="list-group-item"
    [ngClass]="{
      'list-group-item-success': item.reactions.likes > 100,
      'list-group-item-primary':
        item.reactions.likes > 50 && item.reactions.likes <= 100,
      'list-group-item-warning':
        item.reactions.likes > 10 && item.reactions.likes <= 50,
      'list-group-item-danger': item.reactions.likes <= 10
    }"
  >
    {{ item.title }}
  </li>
</ul> -->

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col" *ngFor="let item of posts">
    <app-post [post]="item"></app-post>
  </div>
</div>
