<!-- <ul class="list-group">
  <li
    *ngFor="let item of posts"
    class="list-group-item"
    [ngClass]="{
      'list-group-item-success': item.reactions.likes > 100,
      'list-group-item-primary':
        item.reactions.likes > 50 && item.reactions.likes <= 100,
      'list-group-item-warning':
        item.reactions.likes > 10 && item.reactions.likes <= 50,
      'list-group-item-danger': item.reactions.likes <= 10
    }"
  >
    {{ item.title }}
  </li>
</ul> -->

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col" *ngFor="let item of posts">
    <div class="card">
      <!-- ng if si es french, sino si es history -->
      <img [src]="item.tags | imagenes : 1" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">Las tematicas de este post son:</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let tag of item.tags">
            {{ tag }}
          </li>
        </ul>
        <button
          class="btn btn-primary mt-4"
          [routerLink]="['/detail', item.id]"
        >
          Ver detalle
        </button>
      </div>
    </div>
  </div>
</div>
