<!-- binding : datos de la parte logica a la parte grafica [nombre_var] -->
<img [src]="logo" style="width: 30%" />
<div class="container m-4">
  <!--   <h1>Inicio angular</h1>
 -->
  <!-- binding : datos de la parte logica a la parte grafica {{nombre_var}} -->
  <!-- <p>
    Esta aplicacion esta realizada por {{ nombre }} para la asignatura de
    {{ asignatura }}<br />
    Contador: {{ contador }}
  </p>

  <input -->

  <!-- binding: elementos de la parte grafica a la parte logica (click)=""-->
  <!--  <button
    class="btn btn-primary"
    (click)="ejecutarPulsacion(inputnombre.value)"
  >
    Pulsar
  </button> -->
  <app-seleccion></app-seleccion>
</div>
