<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@cliente.edit.headline">Edit Cliente</h1>
    <div>
        <a routerLink="/clientes" class="btn btn-secondary" i18n="@@cliente.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@cliente.id.label" label="Id" />
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@cliente.nombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="correo" i18n-label="@@cliente.correo.label" label="Correo" />
    <app-input-row [group]="editForm" field="telefono" i18n-label="@@cliente.telefono.label" label="Telefono" />
    <app-input-row [group]="editForm" field="productos" rowType="multiselect" [options]="productosValues" i18n-label="@@cliente.productos.label" label="Productos" />
    <input type="submit" i18n-value="@@cliente.edit.headline" value="Edit Cliente" class="btn btn-primary mt-4" />
</form>
