<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@productos.list.headline">Productoses</h1>
    <div>
        <a routerLink="/productoss/add" class="btn btn-primary ms-2" i18n="@@productos.list.createNew">Create new Productos</a>
    </div>
</div>
@if (!productoses || productoses.length === 0) {
<div i18n="@@productos.list.empty">No Productoses could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@productos.id.label">Id</th>
                <th scope="col" i18n="@@productos.nombre.label">Nombre</th>
                <th scope="col" i18n="@@productos.precio.label">Precio</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (productos of productoses; track productos.id) {
            <tr>
                <td>{{ productos.id }}</td>
                <td>{{ productos.nombre }}</td>
                <td>{{ productos.precio }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/productoss/edit', productos.id]" class="btn btn-sm btn-secondary" i18n="@@productos.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(productos.id!)" class="btn btn-sm btn-secondary" i18n="@@productos.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
